## Tuples

In [1]:
t1 =  tuple()

In [2]:
print(type(t1))

<class 'tuple'>

In [3]:
t2 = ()

In [4]:
print(type(t2))

<class 'tuple'>

In [5]:
l1 = [1,2,3,4]

In [6]:
type(l1)

list

In [7]:
t1 = (1,"python",13.5,"a",True)

In [8]:
print(type(t1))

<class 'tuple'>

In [9]:
t1[2]

13.5

In [10]:
t1[-3]

13.5

In [11]:
t1[:3]

(1, 'python', 13.5)

In [12]:
t1 = (1,14.2,"java",["A","b"])

In [13]:
t1[-1]

['A', 'b']

In [14]:
t1[-1][-1]

'b'

In [15]:
t1 = (1,2.4,"c",(3,4))

In [16]:
t1[-1]

(3, 4)

In [17]:
t1[-1][-2]

3

In [18]:
t1

(1, 2.4, 'c', (3, 4))

In [19]:
t1.append("python")

AttributeError: 'tuple' object has no attribute 'append'

In [20]:
t2 = ("c","d")

In [21]:
t1.extend(t2)

AttributeError: 'tuple' object has no attribute 'extend'

In [22]:
t1.insert(2,"physics")

AttributeError: 'tuple' object has no attribute 'insert'

In [23]:
#append, extend, insert - dont work.

In [24]:
t1

(1, 2.4, 'c', (3, 4))

In [25]:
t1[2] = "wallah"

TypeError: 'tuple' object does not support item assignment

In [26]:
#assignment does not work

In [27]:
l1

[1, 2, 3, 4]

In [28]:
l1.remove(2)

In [30]:
l1

[1, 3, 4]

In [31]:
t1

(1, 2.4, 'c', (3, 4))

In [32]:
t1.remove(2.4)

AttributeError: 'tuple' object has no attribute 'remove'

In [33]:
t1.pop(1)

AttributeError: 'tuple' object has no attribute 'pop'

In [34]:
l1

[1, 3, 4]

In [35]:
del l1[1]

In [36]:
l1

[1, 4]

In [37]:
t1

(1, 2.4, 'c', (3, 4))

In [38]:
del t1[1]

TypeError: 'tuple' object doesn't support item deletion

In [39]:
t1.clear()

AttributeError: 'tuple' object has no attribute 'clear'

In [40]:
del t1

In [41]:
t1

NameError: name 't1' is not defined

In [42]:
#remove, pop, del, clear do not work

In [43]:
t1 = (1,2,3,4)

In [44]:
l1 = list(t1)

In [45]:
l1

[1, 2, 3, 4]

In [46]:
l1.append(5)

In [47]:
l1

[1, 2, 3, 4, 5]

In [48]:
t1 = tuple(l1)

In [49]:
t1

(1, 2, 3, 4, 5)

In [50]:
t1 = (1,2,3,4)

In [51]:
len(t1)

4

In [52]:
min(t1)

1

In [53]:
max(t1)

4

In [54]:
sum(t1)

10

In [55]:
t2 = (10,70,20,100)

In [56]:
t2.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [57]:
t2.sort_values()

AttributeError: 'tuple' object has no attribute 'sort_values'

In [58]:
t2.sort(reverse=True)

AttributeError: 'tuple' object has no attribute 'sort'

In [59]:
t1 = (1,1,2,2,2,2)

In [60]:
t1.count(1)

2

In [61]:
t1.count(2)

4

In [62]:
t1 = (1,2,3,4)
t2 = (5,6,7,8)

In [64]:
t3 = t1 + t2

In [65]:
t3

(1, 2, 3, 4, 5, 6, 7, 8)

In [66]:
t4 = t1 - t2

TypeError: unsupported operand type(s) for -: 'tuple' and 'tuple'

In [67]:
t1

(1, 2, 3, 4)

In [68]:
t1*2

(1, 2, 3, 4, 1, 2, 3, 4)

In [69]:
t1^2

TypeError: unsupported operand type(s) for ^: 'tuple' and 'int'

In [70]:
t1

(1, 2, 3, 4)

In [71]:
t1 = (10,70,100,30)

In [72]:
sorted(t1)

[10, 30, 70, 100]

In [73]:
t1

(10, 70, 100, 30)

In [74]:
t1

(10, 70, 100, 30)

In [75]:
t1.index(100)

2

In [76]:
t1

(10, 70, 100, 30)

In [77]:
t1.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [79]:
t1.sort_values()

AttributeError: 'tuple' object has no attribute 'sort_values'

In [80]:
sorted(t1)

[10, 30, 70, 100]

In [81]:
t1

(10, 70, 100, 30)

In [82]:
t1 = (1,2,1)

In [83]:
t1.index(1)

0

In [84]:
#############################################################

## Sets

In [85]:
s1 = set()

In [86]:
print(type(s1))

<class 'set'>

In [87]:
s2 = {}

In [88]:
print(type(s2))

<class 'dict'>

In [89]:
s3 = {1,2,3,4}

In [90]:
print(type(s3))

<class 'set'>

In [91]:
#sets are unordered

In [92]:
s3[2]

TypeError: 'set' object is not subscriptable

In [93]:
#sets do not contain duplicate elements

In [94]:
s4 = {1,1,2,2,2,2}

In [95]:
print(s4)

{1, 2}

In [96]:
len(s4)

2

In [97]:
s1 = {1,True,13.4,"python",-2,"a"}

In [98]:
s1

{-2, 1, 13.4, 'a', 'python'}

In [99]:
s1 = {False,True,13.4,"python",-2,"a"}

In [100]:
s1

{-2, 13.4, False, True, 'a', 'python'}

In [101]:
s1

{-2, 13.4, False, True, 'a', 'python'}

In [102]:
s1.add(32)

In [103]:
s1

{-2, 13.4, 32, False, True, 'a', 'python'}

In [105]:
comp = {"loca", "rl"}
tech_comp = {"aa","gg"}

In [106]:
comp.update(tech_comp)

In [107]:
print(comp)

{'gg', 'loca', 'aa', 'rl'}

In [108]:
s1

{-2, 13.4, 32, False, True, 'a', 'python'}

In [109]:
s1.discard(-2)

In [110]:
s1

{13.4, 32, False, True, 'a', 'python'}

In [111]:
s1

{13.4, 32, False, True, 'a', 'python'}

In [112]:
s1.remove(13.4)

In [113]:
s1

{32, False, True, 'a', 'python'}

In [114]:
l1

[1, 2, 3, 4, 5]

In [115]:
l1.pop(3)

4

In [116]:
l1

[1, 2, 3, 5]

In [117]:
s1

{32, False, True, 'a', 'python'}

In [118]:
len(s1)

5

In [119]:
max(s1)

TypeError: '>' not supported between instances of 'str' and 'bool'

In [123]:
s2 = {1.1,2,3,4}

In [124]:
s2

{1.1, 2, 3, 4}

In [125]:
max(s2)

4

In [126]:
min(s2)

1.1

In [127]:
sum(s2)

10.1

In [128]:
s2 = {10,70,100,30}

In [129]:
sorted(s2)

[10, 30, 70, 100]

In [130]:
s2.sort()

AttributeError: 'set' object has no attribute 'sort'

In [132]:
s2.sort_values()

AttributeError: 'set' object has no attribute 'sort_values'

## set operations

1. union
2. intersection
3. difference
4. symmetric difference

In [133]:
# union - all the elements from both the sets
# intersection - common elements from both the sets

In [134]:
set1 = {1,3,5}
set2 = {1,2,3}

In [135]:
set1 | set2

{1, 2, 3, 5}

In [136]:
set1.union(set2)

{1, 2, 3, 5}

In [137]:
set2.union(set1)

{1, 2, 3, 5}

In [138]:
set1

{1, 3, 5}

In [139]:
set2

{1, 2, 3}

In [140]:
set1 & set2

{1, 3}

In [141]:
set1.intersection(set2)

{1, 3}

In [142]:
set2.intersection(set1)

{1, 3}

In [143]:
set1

{1, 3, 5}

In [144]:
set2

{1, 2, 3}

In [146]:
set1.difference(set2) #element of set 1 which is not in set 2 -

{5}

In [147]:
set2.difference(set1) #element of set 2 which is not in set 1

{2}

In [149]:
set1.symmetric_difference(set2) #uncommon elements ^

{2, 5}

In [150]:
set1 = {1,3,5}
set2 = {3,5,1}

In [151]:
set1 == set2

True

In [152]:
set1 != set2

False

In [153]:
set1.clear()

In [154]:
set1

set()

In [155]:
########################################################3

In [156]:
d1 = dict()

In [157]:
print(type(d1))

<class 'dict'>

In [158]:
d2 = {}

In [159]:
print(type(d2))

<class 'dict'>

In [160]:
d3 = {"india":"mumbai", "france":"paris", "spain":"madrid", "italy":"rome"}

In [161]:
print(d3)

{'india': 'mumbai', 'france': 'paris', 'spain': 'madrid', 'italy': 'rome'}

In [162]:
len(d3)

4

In [163]:
d3["india"]

'mumbai'

In [164]:
d3["france"]

'paris'

In [165]:
d3["spain"]

'madrid'

In [166]:
d3["italy"]

'rome'

In [167]:
#you cannot have duplicate keys
#keys should not change

In [175]:
d3 = {"india":"mumbai", "france":"paris", "spain":"madrid", "italy":"rome", ("a","b"):2}

In [176]:
d3

{'india': 'mumbai',
 'france': 'paris',
 'spain': 'madrid',
 'italy': 'rome',
 ('a', 'b'): 2}

In [177]:
d3 = {"india":"mumbai", "India":"paris", "spain":"madrid", "italy":"rome", ("a","b"):2}

In [178]:
d3

{'india': 'mumbai',
 'India': 'paris',
 'spain': 'madrid',
 'italy': 'rome',
 ('a', 'b'): 2}

In [179]:
d3.keys()

dict_keys(['india', 'India', 'spain', 'italy', ('a', 'b')])

In [180]:
d3.values()

dict_values(['mumbai', 'paris', 'madrid', 'rome', 2])

In [181]:
d3

{'india': 'mumbai',
 'India': 'paris',
 'spain': 'madrid',
 'italy': 'rome',
 ('a', 'b'): 2}

In [183]:
d3["India"] = "delhi"

In [184]:
d3

{'india': 'mumbai',
 'India': 'delhi',
 'spain': 'madrid',
 'italy': 'rome',
 ('a', 'b'): 2}

In [185]:
d3["belgium"] = "brugge"

In [186]:
d3

{'india': 'mumbai',
 'India': 'delhi',
 'spain': 'madrid',
 'italy': 'rome',
 ('a', 'b'): 2,
 'belgium': 'brugge'}

In [187]:
del d3["italy"]

In [188]:
d3

{'india': 'mumbai',
 'India': 'delhi',
 'spain': 'madrid',
 ('a', 'b'): 2,
 'belgium': 'brugge'}

In [189]:
d3.clear()

In [190]:
d3

{}

In [198]:
d3 = {"india":"mumbai", "India":"paris", "spain":"madrid", "italy":"rome","mydict":{1:2}}

In [199]:
d3

{'india': 'mumbai',
 'India': 'paris',
 'spain': 'madrid',
 'italy': 'rome',
 'mydict': {1: 2}}

In [203]:
d3["mydict"][1]

2

In [204]:
d3

{'india': 'mumbai',
 'India': 'paris',
 'spain': 'madrid',
 'italy': 'rome',
 'mydict': {1: 2}}

In [205]:
d3.pop("spain")

'madrid'

In [206]:
d3

{'india': 'mumbai', 'India': 'paris', 'italy': 'rome', 'mydict': {1: 2}}

In [207]:
d3.remove("paris")

AttributeError: 'dict' object has no attribute 'remove'

In [208]:
d3

{'india': 'mumbai', 'India': 'paris', 'italy': 'rome', 'mydict': {1: 2}}

In [209]:
d3["australia"] = "canberra"

In [210]:
d3

{'india': 'mumbai',
 'India': 'paris',
 'italy': 'rome',
 'mydict': {1: 2},
 'australia': 'canberra'}

In [211]:
d3.popitem()

('australia', 'canberra')

In [212]:
d3

{'india': 'mumbai', 'India': 'paris', 'italy': 'rome', 'mydict': {1: 2}}

In [213]:
d3["india"]

'mumbai'

In [214]:
d3.get("india")

'mumbai'

In [215]:
"india" in d3

True

In [216]:
"pakistan" in d3

False

In [217]:
"india" not in d3

False

In [218]:
"pakistan" not in d3

True

In [219]:
d3.keys()

dict_keys(['india', 'India', 'italy', 'mydict'])

In [220]:
d3.values()

dict_values(['mumbai', 'paris', 'rome', {1: 2}])